img {
  float: left;
  width: 80%;
  height: 80%;
  object-fit: cover;
  transition: .2s;
}

img:hover {
  transform: scale(1.1);
}

.container_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 45%;
  padding-top: 2.5%;
}

.name {
  font-size: larger;
}